header {
  padding: 10px;
  background-color: #f1f3f9;
  font-size: 1em;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  width: 80%;
}

nav a {
  color: #272727;
  text-decoration: none;
}

a:hover {
  color: #3125e7;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 20px;
}
body {
  background: #f1f3f9;
  padding: 0;
  margin: 0;
}
section {
  padding: 5px;
  position: absolute;
}
.entry {
  border: solid 3px black;
  position: relative;
  padding: 10px;
  margin: 10px;
  overflow: auto;
  background:white;
}
#i1 {
  color: black;
  float: left;
}
#i2 {
  color: black;
  float: right;
}
#i3 {
  color: black;
  float: left;
}
.content {
  text-align: justify;
  font-size: 1.4vw;
}
.round1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: right;
  border: black solid;
  shape-outside: circle();
  background-image: url("../resources/aboutus/takhmina.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 5px;
}
.round2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
  border: black solid;
  shape-outside: circle();
  background-image: url("../resources/aboutus/naman.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 5px;
}
.round3 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: right;
  border: black solid;
  shape-outside: circle();
  background-image: url("../resources/aboutus/beck.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 5px;
}
