/*login column*/
@import url("https://fonts.googleapis.com/css2?family=poppins+sans-serif");

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.005em;
}

p {
  font-weight: 300;
  font-size: 1em;
  line-height: 24px;
}

h2 {
  padding-bottom: 20px;
}

/* Divides the screen into left and right */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the let side */
.left {
  left: 0;
  background: linear-gradient(147deg, #447FE3 1.89%, #3125E7 103.34%);
  color: #ffffff;

}

.left img {
  padding-bottom: 50px;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #ffffff;
}

.right img {
  padding-bottom: 35px;
  width: 50%;
}

.right p {
  color: #7F7F83;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 35% 15%;
}

.inputbox {
  position: relative;
  margin: 25px 0;
  width: 310px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}
/* .inputbox.correct input {
  border-color: green;
}

.inputbox.wrong input {
  border-color: red;
}

.inputbox .error {
  color: red;
  
} */
input {
  width: 100%;
  height: 42px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 16px;
  color: #272727;
}

::placeholder {
  color: #bcbcbc;
  font-size: 0.9em;

}

.register {
  color: #272727;
  margin: 25px 0 10px;
}

.sign {
  color: #272727;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  font-weight: 600;
  color: #3125E7;
  margin-left: 2px;
}
.sign p a {
  text-decoration: none;
  font-weight: 600;
  color: #3125E7;
  margin-left: 2px;
}

.register p a:hover {
  text-decoration: underline;
}

.sign p a:hover {
  text-decoration: underline;
}

button {
  width: 60%;
  height: 42px;
  border-radius: 40px;
  margin-top: 10px;
  background-image: linear-gradient(to right, #447FE3, #3125E7, #447FE3, #3125E7);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  color: #ffffff;
  background-size: 300% 100%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

button:hover {

  color: #ffffff;
  background-image: linear-gradient(to right, #447FE3, #3125E7, #447FE3, #3125E7);
  background-position: 100% 20%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

